@charset "UTF-8";
:root {
  --color-primary: 		#2A0B3D;      	/* 深紫黑 (主色) */
  --color-secondary: 	#1A0826;    		/* 幾乎黑的紫 */
  --color-accent: 		#E6E8EB;       	/* 銀色 */
  --color-bg: 				#0B0A10;        /* 黑紫背景 */

  --color-text: 						#E5E5E5;  /* 淺灰文字 */

  --color-setAbout-darker: 	rgba(26, 8, 38, 0.95);
  --color-setAbout-dark: 		rgba(42, 11, 61, 0.8);
}


body {
  background-color: var(--color-bg);
}
hr {
	border-color: var(--color-accent);
}

#mainNav {
  background-color: var(--color-secondary);
}
#mainNav .navbar-toggler {
  color: var(--bs-teal);
  border: 1px solid var(--bs-teal);
}
#mainNav .navbar-brand {
  color: var(--color-accent);
}
#mainNav .navbar-nav .nav-item:hover {
  color: fade(var(--bs-white), 80%);
}
@media (min-width: 992px) {
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link {
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #000;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #000;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: var(--color-secondary);
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: var(--color-primary);
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: var(--color-secondary);
    border-bottom: 0.25rem solid var(--color-secondary);
  }
}

.navbar {
  background-color: var(--color-primary);
}
.navbar .nav-link {
  color: white;
}
.navbar .nav-link:hover {
  color: var(--color-accent);
	transition: color 0.3s;
}

.btn-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.btn-primary:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

a {
  color: var(--color-text);
}
a:hover {
  color: var(--color-accent);
}

.card {
  border: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.menu-btn {
  background-color: var(--color-primary);
}
.menu-btn:hover {
	color: var(--color-accent);
  background-color: var(--color-secondary);
}

.carousel-indicators [data-bs-target] {
  background-color: var(--color-primary);
}

.about-section {
  background: linear-gradient(
    to bottom,
    var(--color-secondary) 0%, 
    var(--color-setAbout--darker) 75%, 
    var(--color-setAbout--dark) 100% 
  );
}

.contact-section .card hr {
  border-color: var(--color-accent);
}